page-home {

}

.ackIcon{
    color:#4cd964;
    font-size:200%;
    vertical-align: middle;
}

.clockIcon{
    color:#a7adba;
    font-size:200%;
    vertical-align: middle;
}

.assigned-list{
    border: 1px solid #dedede;
}

.assigned_corpid{
    color:#a7adba;
    font-size: 80%;
    display: block;
}

.assigned_datetime{
    color:#a7adba;
    font-size: 90%;
    display: block;
    vertical-align: middle;
}