page-home {

}

.ackIcon{
    color:#4cd964;
    font-size:200%;
    vertical-align: middle;
}

.clockIcon{
    color:#a7adba;
    font-size:200%;
    vertical-align: middle;
}

.assigned-list{
    border: 1px solid #dedede;
}

.assigned_corpid{
    color:#a7adba;
    font-size: 80%;
    display: block;
}

.assigned_datetime{
    color:#a7adba;
    font-size: 90%;
    display: block;
    vertical-align: middle;
}

.loader{
    position: fixed;
    top:50%;
    left:50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; 
    margin: 0 auto;

}

@-webkit-keyframes spin{
    0%{ -webkit-transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(360deg);}
}

@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}