<ion-header>
  <ion-navbar>
    <button start ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <label class="navCustom">Contactlist</label>
    <label class="next">Confirm</label>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-scroll style="width:100%;height:100vh" scrollY="true">
  <ion-list scroll="true" >
      <div id="select_all" text-right padding >
        <label>Select All</label>
      </div>
      <!-- <ion-item>
          <ion-label>SA</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-label>SM</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-label>SSM</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-label>CSM</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-label>CIO</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item> -->
    <button ion-item *ngFor="let item of contactList" (click)="itemTapped($event, item)">
      <!-- <ion-icon [name]="item.icon" item-left></ion-icon> -->
      <!-- {{item.name}} -->
      <!-- <div class="" item-left></div>
      <div class="item-note" item-right >
        {{item.name}}
      </div> -->
        <ion-label>{{item.name}}</ion-label>
        <ion-checkbox></ion-checkbox>
    </button>
  </ion-list>
  </ion-scroll>
  <!-- <button ion-button full [navPush]="sharePage">Share Method</button> -->
  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
