page-list {

}

#select_all{
    color:#4a8bfc;
}

.next{
    font-size: 1.8rem;
    display: block;
    float: right;
    color:#4a8bfc;
    font-weight: normal !important;
}

.navCustom{
    font-size: 2rem;
    font-weight: 500;
}