<ion-header>  
    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> 
      <ion-title>
        Contactlist
      </ion-title>
      <ion-buttons end>
        <button ion-button (click)="submitCase()">
            <label>Confirm </label>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content>
  <ion-scroll style="width:100%;height:100vh" scrollY="true">
  <ion-list scroll="true" >
      <div text-right padding >
        <label (click)="checkAll()" class="bold_label">Select All</label>
        <!-- <button [(ngModel)]="selectedAll" (click)="checkAll()" >Select All</button> -->
        <ion-checkbox [(ngModel)]="selectedAll" (click)="checkAll()"></ion-checkbox>
      </div>
      <!-- <ion-item>
          <ion-label>SA</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-label>SM</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-label>SSM</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-label>CSM</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-label>CIO</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item> -->
    <button ion-item *ngFor="let item of contactList">
      <!-- <ion-icon [name]="item.icon" item-left></ion-icon> -->
      <!-- {{item.name}} -->
      <!-- <div class="" item-left></div>
      <div class="item-note" item-right >
        {{item.name}}
      </div> -->
        <ion-label>{{item.name}}</ion-label>
        <ion-checkbox id={{item.corpid}} [(ngModel)]="item.selected" (ionChange)="updateSelectedContact($event)"></ion-checkbox>
    </button>
  </ion-list>
  </ion-scroll>
  <!-- <button ion-button full [navPush]="sharePage">Share Method</button> -->
  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
