page-home {

}

#case_desc{
    max-width: 100%;
    width: 100%;
    height: 40vh;
}
#serverity_icon, #serverity_label, .calendar_icon, .calendar_label{
    color:#4a8bfc;
}

.next{
    font-size: 1.8rem;
    display: block;
    float: right;
    color:#4a8bfc;
    font-weight: normal !important;
}

.navCustom{
    font-size: 2rem;
    font-weight: 500;
}
